# .gitignore
bin/
build/
dist/
lib/
lib64/
Scripts/
var/
FTP-Down/

known_hosts
pyvenv.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

FtpGet.log
modules.log

test*.py
Test-FTP-Get.bat

